# --- Fichiers Python (Toujours ignorer car ils sont inutiles et créent des conflits) ---
__pycache__/
*.py[cod]
*$py.class
.venv
env/
venv/

# --- Données de la base de données ---
# On garde l'ignorance ici pour ne pas écraser les données locales des autres
postgres-data/

# --- Sécurité TEMPORAIREMENT désactivée ---
# On commente les lignes suivantes pour que les certificats et les .env soient partagés
# certs/
# nginx/certs/
# .env
# *.crt
# *.key
