# Secrets
.env
*.env

# Certificates
certs/
*.crt
*.key
*.pem

# Python
__pycache__/
*.pyc

# Logs
*.log

# Virtual env
venv/

# Node
node_modules/
backend/.env
backend/.env.bak.*
certs/*.key
certs.bak.*/
uploads/
keycloak-export/
frontend/.env
