DATABASE_URL=postgresql+asyncpg://user:password@localhost:5432/dbname
KEYCLOAK_URL=http://localhost:8080
KEYCLOAK_REALM=HPC-Project
KEYCLOAK_CLIENT_ID=hpc-backend
SSH_HOST=your-server-ip-or-domain
SSH_USER=your-username
SSH_PASSWORD=your-password

LSF_PATH=/your/lsf/path
REMOTE_JOB_DIR=/your/remote/job/dir
